@media screen and (max-width: 1895px) {
    .course-card {
        max-width: 410px !important;
    }
}

@media screen and (max-width: 1569px) {
    .course-card {
        max-width: 320px !important;
    }

    .add-course {
        width: 320px !important;
    }

    .footer-content1 h2 {
        font-size: 50px !important;
    }

    .footer-content1 p {
        font-size: 12px !important;
    }

    p.foo-coont1 {
        font-size: 16px !important;
    }

    p.foo-coont2 {
        font-size: 13px !important;
        line-height: 18px !important;
    }

    p.foo-coont3 {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px 20px !important;
    }

    .overlay {
        bottom: 18% !important;
        left: 0% !important;
        padding: 40px !important;
    }

    .overlay h3 {
        font-size: 25px !important;
    }

    .overlay p {
        font-size: 15px !important;
    }

    .logo h2 {
        font-size: 30px !important;
        top: -6px !important;
    }

    .input-container input {
        width: 200px !important;
    }

    .user-info2 {
        display: none;
    }

    button.prev, button.next {
        padding: 0 !important;
        font-size: 20px !important;
    }

    .conteudo {
        padding: 30px 30px !important;
    }

    .course-card {
        max-width: 600px !important;
    }

    .add-course {
        width: 100% !important;
    }

    footer {
        padding: 30px 30px !important;
    }

    footer {
        padding: 30px 30px !important;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer-content1 {
        width: 100%;
    }

    .footer-content2 {
        width: 100%;
    }

    .footer-content3 {
        width: 100%;
        text-align: left !important;
    }

    .copy {
        padding: 10px 30px !important;
    }

    .single-course2 img {
        height: 180px !important;
    }

    .conteudo-single {
        padding: 30px 30px !important;
    }

    .conteudo-single h1{
        font-size: 25px !important;
        margin-top: 15px;
    }

    .acoes {
        top: 15px !important;
        right: 15px !important;
    }

    .acoes i {
        margin-right: 8px !important;
        font-size: 18px !important;
    }
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Varino1';
    src: url('../fonts/Varino1.otf') format('opentype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #efefef;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #fff;
    color: #000;
}

.logo h2 {
    font-family: 'Varino1', sans-serif !important;
    color: #000;
    font-size: 60px;
    font-weight: 500; 
    position: relative;
    top: -10px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

header nav input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.user-info2{

}

.bem2{
    font-size: 10px;
    color: #8b8b8b;
}

.nome2{
    font-weight: 600;
    color: #434343;
}

header nav .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #434343;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.input-container input {
    padding-right: 30px;
    width: 300px;
    border: 1px solid #aeaeae;
    border-radius: 50px;
    background: #efefef;
    height: 40px;
    padding-left: 20px;
}

.input-container i {
    position: absolute;
    right: 10px; /* Posiciona o ícone à direita */
    color: gray; /* Define a cor do ícone */
}



/* Slideshow */
.slideshow {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 500px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 25%;
    left: 5%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

.overlay h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.overlay p{
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.overlay button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 5px 25px;
    border-radius: 50px;
    margin-top: 15px;
    cursor: pointer;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.conteudo {
    padding: 50px 70px;
}

.titulo-cursos{
    border-bottom: 1px solid #aeaeae;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.course-card {
    width: 100%;
    max-width: 420px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.course-card img {
    object-fit: cover;
    width: 100%;
    height: 190px;
    max-width: 600px;
    background-position: center center;
    background-size: cover;
    display: block;
}

.text-curso {
    padding: 20px;
    background: #fff;
}

.text-curso p{
   margin-top: 10px;
}

.text-curso h3{
    text-transform: uppercase;
 }

.course-card button {
    background: #01a02a;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
    text-transform: uppercase;
    border-radius: 50px;
}

.add-course {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 350px;
    border: 1px dashed #ccc;
    color: gray;
    text-align: center;
    flex-direction: column;
}

.add-course p{
    color: #9f9f9f;
}

.add-course img{
    width: 100%;
    max-width: 120px;
}

.add-course a{
    text-decoration: none;
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 70px;
}

.footer-content1 {
    width: 100%;
    max-width: 300px;
}

.footer-content1 h2{
    font-family: 'Varino1', sans-serif !important;
    color: #909090;
    font-size: 60px;
    font-weight: 500;   
    margin-top: -10px;
}

.footer-content1 p{
    color: #909090;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;   
}

p.foo-coont1 {
    font-size: 22px;
    font-weight: 700;
}

.footer-content3 {
    text-align: center;
}

p.foo-coont2 {
    font-size: 19px;
    margin-top: 15px;
    line-height: 25px;
    color: #909090;
}

p.foo-coont3 {
    font-size: 22px;
    font-weight: 700;
}

.footer-content3 i{
    background: #909090;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
}

.social-footer {
    margin-top: 15px;
}

.copy {
    background-color: #efefef;
    padding: 10px 70px;
    font-size: 14px;
    color: #909090;
}

.single-course {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.single-course img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.single-course h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.single-course p {
    font-size: 18px;
    margin-bottom: 20px;
}

.single-course .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.single-course .btn:hover {
    background-color: #555;
}

.single-course2 img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    background-position: center center;
    background-size: cover;
    display: block;
}

.conteudo-single {
    padding: 50px 70px;
    position: relative;
}

.conteudo-single p {
    margin-top: 15px;
}

.conteudo-single button {
    background: #000;
    color: #fff;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    margin-top: 15px;
    cursor: pointer;
}

.acoes {
    position: absolute;
    top: 20px;
    right: 70px;
}

.acoes i{
    margin-right: 5px;
    color: #000;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#editCourseForm textarea{
    width: 100%;
    height: 100px;
    padding: 15px 15px;
}

.inputmodal1{
    width: 100%;
    height: 30px;
    padding: 0 15px;
}

#editCourseForm button{
    background: #000;
    color: #fff;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

#editCourseForm img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    display: block;
}

